workflows/2-toplanti-takvim.json
{
  "name": "2 - Toplantı & Takvim",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Zamanlayıcı - Her Sabah 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hours": [8]
            }
          ]
        }
      }
    },
    {
      "id": "google-calendar-get",
      "name": "Google Calendar - Bugünkü Toplantılar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "googleCalendarOAuth2": {
          "id": "google-calendar-creds",
          "name": "Google Calendar OAuth2"
        }
      },
      "parameters": {
        "operation": "getAll",
        "calendarId": "primary",
        "startTime": {
          "expression": "={{ $now.format('YYYY-MM-DD') }}T00:00:00.000Z"
        },
        "endTime": {
          "expression": "={{ $now.format('YYYY-MM-DD') }}T23:59:59.000Z"
        },
        "options": {
          "maxResults": 10
        }
      }
    },
    {
      "id": "if-meetings",
      "name": "Koşul - Toplantı Var mı?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-size",
              "leftValue": "{{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fireflies-transcript",
      "name": "Fireflies - Transkript Çek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://api.fireflies.ai/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.FIREFLIES_API_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ai-summary",
      "name": "AI - Toplantı Özeti",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": 1536
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "user",
                  "content": "Bu toplantının transkriptini analiz et ve şu formatta bir özet çıkar:\n\n**Toplantı Özeti:**\n- Konu: \n- Katılımcılar:\n- Alınan Kararlar:\n- Action Items (kimin ne yapacağı):\n- Takip edilmesi gerekenler:\n\nTranskript:\n{{ $json.transcript }}"
                }
              ]
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notion-save",
      "name": "Notion - Toplantı Kaydet",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1500, 200],
      "credentials": {
        "notionApi": {
          "id": "notion-creds",
          "name": "Notion API"
        }
      },
      "parameters": {
        "operation": "appendBlock",
        "pageId": "{{ $env.NOTION_TOPLANTI_PAGE_ID }}",
        "content": "### 📅 {{ $json.toplantı_konusu }}\n\n**Tarih:** {{ $json.tarih }}\n**Katılımcılar:** {{ $json.katilimcilar }}\n\n{{ $json.ai_ozet }}\n\n---\n",
        "options": {}
      }
    },
    {
      "id": "email-ozet",
      "name": "Email - Katılımcılara Özet",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1500, 400],
      "credentials": {
        "smtp": {
          "id": "smtp-creds",
          "name": "SMTP"
        }
      },
      "parameters": {
        "fromEmail": "{{ $env.SMTP_USER }}",
        "toEmail": "{{ $json.katilimci_emailler }}",
        "subject": "📋 Toplantı Özeti: {{ $json.toplantı_konusu }}",
        "body": "<h2>Toplantı Özeti</h2>\n<p><strong>Konu:</strong> {{ $json.toplantı_konusu }}</p>\n<p><strong>Tarih:</strong> {{ $json.tarih }}</p>\n<hr>\n{{ $json.ai_ozet }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Zamanlayıcı - Her Sabah 08:00": {
      "main": [
        [
          {
            "node": "Google Calendar - Bugünkü Toplantılar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Bugünkü Toplantılar": {
      "main": [
        [
          {
            "node": "Koşul - Toplantı Var mı?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Koşul - Toplantı Var mı?": {
      "main": [
        [
          {
            "node": "Fireflies - Transkript Çek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fireflies - Transkript Çek": {
      "main": [
        [
          {
            "node": "AI - Toplantı Özeti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Toplantı Özeti": {
      "main": [
        [
          {
            "node": "Notion - Toplantı Kaydet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - Katılımcılara Özet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["toplantı", "takvim", "ai"],
  "meta": {
    "templateCredsSetup": false,
    "templateId": "toplanti-takvim"
  }
}
